.seq-split {
   display: flex;
   flex-direction: row;
}

.cm-scroller {
   overflow: auto;
}

.cm-editor {
   height: 100vh;
}

.gutter {
   background-color: #eee;
}

.gutter.gutter-horizontal {
   cursor: col-resize;
}
